-
    var social = [
        {icon:"#icon-fb",social:"Facebook",width:"14",height:"14"},
        {icon:"#icon-insta",social:"Instagramm",width:"14",height:"14"},
        {icon:"#icon-yt",social:"Youtube",width:"16",height:"12"},
    ]

footer.footer
    .big-container.footer__row
        .footer__logo-column
            a(href="/").footer__logo
                svg(width="137" height="41")
                    use(xlink:href="#icon-footer-logo")
            form(action="#").footer__form
                label
                    span Подписка
                    input(type="email" placeholder="Email")
                    button(type="submit").button Submit
            p.footer__copy License # 1101698
        .footer__nav-column
            h3.footer__caption Service
            ul.footer__nav
                each item in ["Преимущества", "Цены", "Наши работы", "Отзывы"]
                    li
                        a(href="#")!=item 
        .footer__social-column 

        