mixin text-block(obj)
    section.text-block&attributes(attributes)
        .container.text-block__row
            .text-block__column
                each item in obj.arr
                    p!=item
            img(src!="img/" + obj.img + "", alt="text-img")

mixin banner(obj)
    section.banner(style="background-image: url('img/" + obj.img + "');")&attributes(attributes)
        .container.banner__container
            h1.banner__caption!=obj.caption
            p.banner__text!=obj.text
            p.banner__sale!=obj.saleText
