.card {
    padding: 20px 20px 40px 20px;

    & h3 {
        margin: 0;
        margin-bottom: 31px;

        @include font-p(24px,600,1.2,0,$black-3);
    }

    & img {
        display: block;
        width: 100%;
        height: 334px;
        margin-bottom: 30px;

        border-radius: 20px;
        object-fit: cover;
    }

    & p {
        margin: 0;
        margin-bottom: 30px;

        @include font-p(44px,600,1.2,0,$black-3);
        text-align: center;
    }

    & a {
        width: 100%;
        height: 60px;
    }
}

.card__column {
    flex: 0 0 calc(100% - 522px);
    padding-left: 40px;
}

@media (max-width: 900px) {
    .card__column {
        padding-left: 0;

        text-align: center;
    }
}

@media (max-width: 576px) {
    .card {
        & img {
            height: 298px;
            margin-bottom: 25px;
        }

        & h3 {
            margin-bottom: 27px;

            font-size: 20px;
        }

        & p {
            margin-bottom: 24px;

            font-size: 38px;
        }
    }
}
