section.main-top 
    .big-container.main-top__big-container(style="background-image: url('img/main-top.jpg');")
        .container.main-top__container
            .main-top__text-column
                h1.main-top__caption ABS FENCE MASTER
                p.main-top__text 
                    |We are excited to offer a special discount on gates and wickets for orders of 
                    strong 100 l/ft.
                    |&#32; or more.
                a.main-top__link(href="#") Скидка 
                    strong 30%
            form.main-top__form(action="#")
                p Please leave an inquiry now and receive an accurate quote within 
                    strong 5 minutes.
                label
                    span Phone number:
                    input(type="tel", name="main-tel", placeholder="+1") 
                button(type="submit") Submit
            img.main-top__bear(src="img/bear.png" alt="декор")