-
    var arr = [
        {
            caption: "Contact Us",
            text: "Fill out one of our forms or contact our specialist.",
        },
        {
            caption: "Get estimate",
            text: "Get a free estimate for your specific project and build.",
        },
        {
            caption: "Schedule a Time",
            text: "Schedule an appointment for a detailed inspection.",
        },
        {
            caption: "Your Pro Arrives",
            text: "After an agreement, your pro is ready&nbsp;to build!",
        },
    ]

section.our-process
    .container
        h2.h2 OUR PROCESS How It Works?
        ul
            each item in arr
                li
                    h3!=item.caption
                    p!=item.text
