-
    var arr = [
        {
            caption: "Nobody knows Portland and the peninsula better than David.",
            text: "My wife and I had a dream of downsizing from our house in Cape Elizabeth into a small condo closer to where we work and play in Portland. ",
            img: "img/ava-1.png",
            name: "Василий Орлов",
        },
        {
            caption: "Nobody knows Portland and the peninsula better than David.",
            text: "My wife and I had a dream of downsizing from our house in Cape Elizabeth into a small condo closer to where we work and play in Portland. ",
            img: "img/ava-1.png",
            name: "Василий Орлов",
        },
        {
            caption: "Nobody knows Portland and the peninsula better than David.",
            text: "My wife and I had a dream of downsizing from our house in Cape Elizabeth into a small condo closer to where we work and play in Portland. ",
            img: "img/ava-1.png",
            name: "Василий Орлов",
        },
        {
            caption: "Nobody knows Portland and the peninsula better than David.",
            text: "My wife and I had a dream of downsizing from our house in Cape Elizabeth into a small condo closer to where we work and play in Portland. ",
            img: "img/ava-1.png",
            name: "Василий Орлов",
        },
        {
            caption: "Nobody knows Portland and the peninsula better than David.",
            text: "My wife and I had a dream of downsizing from our house in Cape Elizabeth into a small condo closer to where we work and play in Portland. ",
            img: "img/ava-1.png",
            name: "Василий Орлов",
        },
    ]

section.testimonials(id="testimonials")
    .container
        h2.h2 Testimonials
        .slider.testimonials__slider
            .swiper-container
                .swiper-wrapper
                    each item in arr
                        article.swiper-slide.card-comment.testimonials__comment
                            svg(width="42" height="34")
                                use(xlink:href="#icon-quotes")
                            h3!=item.caption
                            p!=item.text
                            .card-comment__row
                                .card-comment__avatar
                                    img(src=item.img, alt="avatar")
                                .card-comment__column
                                    h4!=item.name
                                    span.card-comment__post Заказчик
            svg.testimonials__bottom-icon(width="26" height="34")
                use(xlink:href="#icon-slider-bottom")
            .testimonials__arrow-row
                button.js-btn-next(type="button")
                    svg(width="10" height="16")
                        use(xlink:href="#icon-arrow-testimonials")
                .swiper-pagination
                button.js-btn-prev(type="button")
                    svg(width="10" height="16")
                        use(xlink:href="#icon-arrow-testimonials")
            button.button.testimonials__bottom-btn(type="button") Оставить отзыв
