-
    var list = [
        "3+ Years of ExperienceWe've worked with various clients. Our team of experts are ready to help!",
        "Fast and quality ServiceHave your custom built fence within a matter of few days! Get a free estimate for time for completion and costs.",
        "Only ExpertsOur team is comprised of professionals who have years of experience building and installing fences.",
    ]

section.why-choose
    .container.why-choose__container
        h2.h2 Why Choose All ABS Fence Master?
        ul  
            each item in list
                li!=item