-
    var list = [
        "3+ Years of Experience<br>We've worked with various clients.<br>Our team of experts are ready to help!",
        "Fast and quality Service<br>Have your custom built fence within a matter of few days! Get a free estimate for time for completion and costs.",
        "Only Experts<br>Our team is comprised of professionals who have years of experience building and installing fences.",
    ]

section.why-choose
    .container.why-choose__container
        h2.h2 Why Choose All ABS Fence Master?
        ul  
            each item in list
                li!=item