-
    var list = [
        {
            name:"Fences",
        },
        {
            name:"Price",
            link: "#price",
        },
        {
            name:"Gallery",
            link: "#gallery",
        },
        {
            name:"Testimonials",
            link: "/#testimonials",
        },
    ]

    var navTwo = [
        {
            name:"Металлические",
            link: "/metal-page.html",
        },
        {
            name:"Wood Fences",
            link: "/wood-page.html",
        },
        {
            name:"Chain Link fences",
            link: "/chain-page.html",
        },
        {
            name:"3D panel fence",
            link: "/3d-page.html",
        },
        {
            name:"Vinyl Fences",
            link: "/vinyl-page.html",
        },
    ]

nav.nav.header__nav
    ul.nav__list
        each item,index in list
            li.nav__item
                if (index === 0)
                    span.nav__link=item.name
                    svg(width="16" height="9")
                        use(xlink:href="#icon-arrow-min")
                    ul.nav__two
                        each item2 in navTwo
                            li
                                a(href=item2.link)=item2.name
                else
                    a.nav__link(href=item.link)=item.name
