extends pug/layout.pug
block variables
    -
        var title = 'Chain-link Fences'

        var bannerObj = {
            img: "chain-bg.jpg",
            caption: "Chain-link Fences",
            text: "We are excited to offer a special discount on gates and wickets for orders of&thinsp;<strong>100 l/ft.</strong> or more.",
            saleText: "Скидка&thinsp;<strong> 30%</strong>",
        }

        var textObj = {
            img: "chain-img.jpg",
            arr: [
                    "When buying a property, whether with a house or not, owners almost immediately raise the question of installing a secure fence. The ideal option in this case can be a chain-link fence. This material is highly popular due to its lightness, strength, and durability. On average, a high-quality chain-link fence can serve you for 15-20 years.",
                    "How is this even possible? It's all about the material used to manufacture the fence. Chain-link fencing is made of galvanized metal wire, which is coated with a polymer coating. The finished fence turns out to be corrosion-resistant and heat-resistant. Polymer coating treatment can even increase its service life.",                
                ]
        }

        var otherObj = {
            caption: "Other benefits of metal board include their:",
            arr: [
                {
                    width: "38",
                    height: "38",
                    icon: "#icon-other-7",
                    text: "Low cost"
                },
                {
                    width: "39",
                    height: "40",
                    icon: "#icon-other-3",
                    text: "Ease of installation, and long service life."
                },
                {
                    width: "27",
                    height: "34",
                    icon: "#icon-other-8",
                    text: "You can manage the easy installation process by yourself without the involvement of specialists."
                },
            ]
        }

        var onePriceObj = {
            img: "img/chain-one-price.png",
            name: "Chain-link Fences",
            price: "от 30$ l/ft",
        }

        var galleryObj = {
            arr: [
                "img/gallery-8.png",
                "img/building-2.png",
                "img/gallery-1.png",
            ],
        }

//- block append head
//-     <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>

include pug/mixin.pug

block content
    main.main
        +banner(bannerObj)
        +text-block(textObj)
        +other(otherObj)
        +one-price(onePriceObj)
        +gallery(galleryObj)
        include pug/main-page/repair.pug
