extends pug/layout.pug
block variables
    - 
        var title = 'Fence'

        var galleryObj = {
            arr: [
                "img/price-3.png",
                "img/building-2.png",
                "img/gallery-1.png",
            ],
        }

//- block append head
//-     <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>

include pug/mixin.pug

block content
    main.main
        include pug/main-page/main-top.pug
        include pug/main-page/advantages.pug
        include pug/main-page/building.pug
        include pug/main-page/why-choose.pug
        include pug/main-page/price.pug
        include pug/main-page/repair.pug
        //- include pug/main-page/gallery.pug
        +gallery(galleryObj)
        include pug/main-page/our-process.pug
        include pug/main-page/testimonials.pug
