.building {
    padding-top: 86px;
    padding-bottom: 50px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    & h2 {
        max-width: 1000px;
        width: 100%;
        margin-bottom: 15px;
        
        color: $white;
        letter-spacing: 0.047em;
    }

    & h3 {
        margin-bottom: 53px;

        line-height: 1.2;
        letter-spacing: 0.01em;
    }
    
    & p {
        max-width: 1000px;
        width: 100%;
        margin: 0;
        margin-bottom: 14px;
        
        @include font-r(16px,400,1.35,0,$white);
    }

    & img {
        display: block;
        margin-top: -20px; 
        flex: 0 0 484px;

        box-shadow: $building-img-shadow;
        border-radius: 20px;

        & + .building__column {
            flex: 0 0 484px;

            padding-right: 0;

            & h3 {
                margin-bottom: 30px;
            }
        }

        &:first-child {
            margin-top: 0;
            width: 484px;
        }
    }

    & ul {
        @include list();

        & + h3 {
            margin-top: 42px;
            margin-bottom: 30px;
        }
    }

    & li {
        position: relative;
        margin-bottom: 15px;
        padding-left: 35px;

        @include font-g(16px,400,1.4,0,$white);
    }

    & a {
        @include hover();
        @include center();
        margin: 41px auto 0;
        width: 276px;
        height: 62px;

        @include font-g(16px,700,1,0,$black);

        background-color: $white;
        box-shadow: $building-link-shadow;
        border-radius: 12px;
    }
}

.building__container {
    & > h2 {
        margin-right: 100px;
    }

    & > h3 {
        margin-right: 100px;
    }

    & p {
        margin-right: 100px;
    }
}

.building__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-right: 84px;
    // margin-top: 74px;

    // &:first-child {
    //     margin-top: 0;
    // }

    &:last-of-type {
        margin-bottom: 0;
    }
}


.building__column {
    flex: 0 0 calc(100% - 484px);
    padding-right: 48px;
}