.why-choose {
    margin-bottom: 88px;
    padding-top: 85px;

    & h2 {
        margin-bottom: 60px;
    }

    & ul {
        @include list();
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 35px;
    }

    & li {
        min-height: 255px;
        padding: 37px 45px 30px 40px;
        @include font-p(16px,500,1.5,0,$black-2);
        box-shadow: $big-shadow;
        border-radius: 20px;
        border: 1px solid $grey-11;
    }
}

@media (max-width: 900px) {
    .why-choose {
        & ul {
            grid-template-columns: 1fr 1fr;
        }

        & li {
            padding: 30px;
        }
    }
}

@media (max-width: 576px) {
    .why-choose {
        margin-bottom: 51px;
        padding-top: 51px;

        & h2 {
            margin-bottom: 31px;
        }

        & ul {
            display: block;
        }

        & li {
            min-height: 220px;
            margin-bottom: 20px;
        }
    }
}
